* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    background-color: #fafcf6;
}

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 3.6rem;
    color: #f3f7ec;
}

.encabezado {
    width: 100%;
    height: 6rem;
    background-color: #6b6dab;
    padding-top: 2.2rem;
    display: flex;
}

.indice-encabezado {
    margin-top: 2.3rem;
    margin-left: 4rem;
}

.indice {
    text-decoration: none;
    padding-right: 0.5rem;
    color: #f3f7ec;
}

.indice:hover {
    text-decoration: underline;
}

.indice:active {
    color: #f3f7ece4;
}

.seccion-de-cards {
    margin-top: 4rem;
    min-height: 34rem;
    background-color: #f7faf2;
    padding-bottom: 2rem;
}

.seccion-de-cards h2 {
    font-size: 1.8rem;
}

.contenedor-carta {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 80%;
    display: flex;
    background-color: #f3f7ec;
    flex-wrap: wrap;
}

.carta {
    border: 0.15rem solid #6b6daba5;
    width: 16.5rem;
    height: 25rem;
    margin: 2rem;
    text-align: center;
    background-color: #f4f4f4a4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta img {
    margin-top: 1.2rem;
    width: 80%;            /* Ajusta el ancho al 80% de la carta */
    height: 9rem;         /* Define una altura fija */
    object-fit: contain;   /* Hace que la imagen se adapte sin recortarse ni estirarse MUY util*/
}

.carta h3 {
    font-size: 1.5rem;
}

.datos-carta {
    width: 80%;
    margin-left: 0.5rem;
    text-align: left;
    flex-grow: 1;
}

.datos-carta p {
    font-family: "Play";
    font-size: 1rem;
    padding-bottom: 0.9rem;
}

.datos-carta b {
    font-size: 1.2rem;
}

.boton-descarga {
    border: 0.1rem solid rgb(102, 104, 161);
    background-color: #70b9d3; 
    color: #f3f7ec;
    width: 8rem;
    border-radius: 1.5rem;
    margin-top: auto;
    margin-bottom: 1rem;
    height: 2rem;
}

.boton-descarga:hover {
    background-color: #83d0ed;
    cursor: pointer;
    transform: scale(1.04);
}

.boton-descarga:active {
    box-shadow: -0.3rem -0.3rem 0.1rem 0 inset #45c2f0;
    text-decoration: underline;
    transform: scale(1);
}

.seccion-pie-pagina {
    background-color: #505181;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.seccion-pie-pagina h2 {
    color: #f3f7ec;
    align-self: flex-start;
    margin-left: 0.1rem;
    font-size: 2.5rem;
}

.iframe-mapa {
    margin-left: 0.5rem;
    
}

.seccion-pie-pagina form {
    align-self: flex-start;
    margin-top: 5rem;
    margin-left: -18.55rem;
}

.seccion-pie-pagina form textarea {
    border: 0.1rem solid #2b2b2b;
    border-radius: 0.5rem;
    width: 25rem;
    height: 6rem;
}

.input-footer-label {
    color: #f3f7ec;
    font-size: 1.1rem;
}

.input-footer-form {
    border: 0.1rem solid #2b2b2b;
    border-radius: 0.5rem;
    height: 2rem;
    width: 12rem;
}

.form-button-submit {
    margin-top: 1rem;
}