* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    background-color: #fafcf6;
}

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 3.6rem;
    color: #f3f7ec;
}

.encabezado {
    width: 100%;
    height: 6rem;
    background-color: #6b6dab;
    padding-top: 2.2rem;
    display: flex;
}

.indice-encabezado {
    margin-top: 2.3rem;
    margin-left: 4rem;
}

.indice {
    text-decoration: none;
    padding-right: 0.5rem;
    color: #f3f7ec;
}

.indice:hover {
    text-decoration: underline;
}

.indice:active {
    color: #f3f7ece4;
}

.seccion-on-fire {
    margin-top: 4rem;
    height: 34rem;
    background-color: #f7faf2;
}

.seccion-on-fire h2 {
    font-size: 1.8rem;
}

.contenedor-carta {
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 80%;
    display: flex;
    background-color: #f3f7ec;
    flex-wrap: wrap;
}

.carta {
    border: 0.15rem solid #6b6daba5;
    width: 16.5rem;
    height: 93%;
    margin: 2rem;
    text-align: center;
    background-color: #f4f4f4a4;
}

.carta img {
    margin-top: 1.2rem;
}

.carta h3 {
    font-size: 1.5rem;
}

.datos-carta {
    margin-top: 0.2rem;
    width: 80%;
    height: 30%;
    margin-left: 1.8rem;
    text-align: left;
}

.datos-carta p {
    font-family: "Play";
    font-size: 1rem;
    padding-bottom: 0.9rem;
}

.datos-carta b {
    font-size: 1.2rem;
}

.boton-descarga {
    border: 0.1rem solid rgb(102, 104, 161);
    background-color: #70b9d3; 
    color: #f3f7ec;
    width: 8rem;
    border-radius: 1.5rem;
    margin-top: -1rem;
    height: 2rem;
}

.boton-descarga:hover {
    background-color: #83d0ed;
    cursor: pointer;
    transform: scale(1.04);
}

.boton-descarga:active {
    box-shadow: -0.3rem -0.3rem 0.1rem 0 inset #45c2f0;
    text-decoration: underline;
    transform: scale(1);
}